* {
   
    padding:0px;
}
#main {
width:800px;
height:405px;
border:1px solid #cbc8c8;
}
.size {
font-size:25px;
margin-left:340px;
margin-top:15px;
}
    .CurledLineMiddle {
         BORDER-RIGHT: medium none;
         BORDER-TOP: medium none; 
        FONT-SIZE: 9pt; 
        BORDER-LEFT: medium none; 
        BORDER-BOTTOM: #a0a0a0 1px solid; 
        BACKGROUND-COLOR: transparent;
         TEXT-ALIGN: center; 
          outline: none;
    }
