* {
/*margin: 0px auto;
padding:0px;
list-style-type:none;*/
}
#main {
 width:800px;
 height:550px;
 border :1px solid #cbc8c8;
    }
.size {
font-size:25px;
margin-left:330px;
margin-top:10px;
}
#center {
    width:800px;
   height:150px;
    margin-top:10px;
    border :1px solid #cbc8c8;
}
#end {
width:800px;
height:100px;
 border :1px solid #cbc8c8;
 margin-top:10px;
}
    .CurledLineMiddle {
         BORDER-RIGHT: medium none;
         BORDER-TOP: medium none; 
        FONT-SIZE: 9pt; 
        BORDER-LEFT: medium none; 
        BORDER-BOTTOM: #a0a0a0 1px solid; 
        BACKGROUND-COLOR: transparent;
         TEXT-ALIGN: center; 
          outline: none;
    }